
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #222;
}
#contenedor {
  width: 500px;
  height: 500px;
  border: 2px solid #ffffff;
  margin: 50px auto;
  position: relative;
}
.cuadrado {
  width: 100px;
  height: 100px;
  background-color: rgb(121, 212, 224);
  position: absolute;
}